{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        <h3>Python</h3>
        <b>Python</b> - высокоуровневый язык программирования.<br>
        На питоне пишут веб-приложения, используют для анализа данных, создают
        искусственный интеллект и многое-многое другое.<br>
        <a href="https://ru.wikipedia.org/wiki/Python" target="_blank">Подробнее тут</a>
      </p>
      <hr>
      <p>
        <h3>Django</h3>
        <b>Django</b> - самый популярный фреймворк
        для создания web-приложений.<br>
        <a href="https://ru.wikipedia.org/wiki/Django" target="_blank">Подробнее тут</a>
      </p>
    </article>
  </div>
{% endblock %} 